body {
  background-color: #E87979;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header,
  main,
  a {
    text-decoration: none;
    color: #333;
  }
  
  a:hover {
    color: #999;
  }

  .hiuser {
    background-color: #ffffff;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  } 

  .hiuser:hover {
    background-color: #222;
  }

  .btn {
    background-color: #E87979;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #222;
  }
  
  .row-menu {
    margin-top: 30px;
    display: flex;
    gap: 50px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
  }

  .card {
    background-color: #ffb2a4;
  }


  nav {
    background-color: #ffb2a4;
  }
  
  .logo {
    font-size: 2em;
    font-weight: bold;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav ul li {
    margin-right: 20px;
  }

  .nav-item:hover {
    border: #222;
    border-radius: 50px;
    background-color: #222;
  }

  .hero {
    background-image: url("hero.jpg");
    background-size: cover;
    background-position: center;
    height: 400px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hero-content {
    padding: 50px;
  }
  
  .hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
  }
  
  .about p {
    font-size: 1.1em;
    line-height: 1.5;
    text-align: justify;
  }
  

  .order-online,
  .catering{
    margin-top: 50px;
    text-align: center;
  }
  
  .reservasi{
    align-items: center;
  }

  footer {
    bottom: 0;
}

.footer {
    background-color: #ffb2a4;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}

.footer .footer-left {
    width: 30%;
}

.footer h3 {
    color: #333;
    margin: 0;
    padding-bottom: 20px;
    font-family: Georgia, 'Time New Roman', Times, serif;
}

.footer .footer-left img {
    width: 25%;
    vertical-align: middle;
}

.footer .footer-left .credit-cards {
    width: 100%;

}

.footer-left {
    text-align: center;
}

.footer .footer-copyright {
    color: #333;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 10%;
}

.footer .footer-center {
    width: 35%;
}

.footer .footer-center i {
    background-color: #ffb2a4;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p {
    display: inline-block;
    color: #333;
    vertical-align: middle;
    margin: 0px;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: #333;
    text-decoration: none;
}

.footer .footer-right {
    width: 30%;
}

.footer .footer-about {
    line-height: 20px;
    color: #333;
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
}

.footer .footer-about span {
    display: block;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .footer-media {
    margin-top: 25px;
}

.footer .footer-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-media a:hover {
    background-color: #333
}

@media (max-width: 880px) {

    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .footer .footer-center i {
        margin-left: 0px;
    }
  }