*,
html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    height: 100px;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 2rem;
}

nav ul li a {
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #191919;
    font-weight: 600;
    padding: 8px 0;
    transition: all;
    transition-duration: 300ms;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

nav div a {
    text-decoration: none;
    color: #191919;
    font-weight: 600;
    margin-top: 30px;
}

nav div p {
    text-decoration: none;
    color: #191919;
    font-size: 30px;
    font-weight: 900;
    align-items: center;
    margin-top: 11px;
}

nav ul li a:hover {
    border-bottom: 1px solid orange;
    color: orange;
}