/* search atas */
.carousel {
    position: relative;
}

.search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align: center;
}

.input-search {
    width: 80%;
    font-size: 20px;
    height: 60px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.padding-atas-1 {
    padding-top: 30px;
}

.padding-atas-2 {
    padding-top: 50px;
}

.padding-atas-3 {
    padding-top: 60px;
}

.padding-bawah-1 {
    padding-bottom: 30px;
}

.padding-bawah-2 {
    padding-bottom: 50px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.isi-menu {
    width: 100%;
    padding: 0 8rem;
}

.row-menu {
    display: flex;
    gap: 50px;
    margin-left: -80px;
    margin-bottom: 30px;
}



/* lihat lebih banyak */

.container_lihat {
    margin-top: 24px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container_lihat>h1 {
    margin-bottom: 38px;
    font-weight: normal;
    font-size: 32px;
}

.container_menu {
    height: 450px;
    width: 90%;
    background-color: #D9D9D9;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;

}

.container_menu h2 {
    margin-top: 10px;
    font-weight: bold;
}

.container_menu_gambar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.gambar_container .gambar {
    width: 250px;
    height: 250px;
    background-color: white;
    border-radius: 50%;
}

.gambar_container p {
    margin-top: 10px;
    font-weight: bold;
    font-size: 24px;
}

/* Lokasi */

.alamat {
    margin-top: 50px;
}

/* footer */

footer {
    bottom: 0;
}

.footer {
    background-color: #040a18;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}

.footer .footer-left {
    width: 30%;
}

.footer h3 {
    color: #f5f5f5;
    margin: 0;
    padding-bottom: 20px;
    font-family: Georgia, 'Time New Roman', Times, serif;
}

.footer .footer-left img {
    width: 25%;
    vertical-align: middle;
}

.footer .footer-left .credit-cards {
    width: 100%;

}

.footer-left {
    text-align: center;
}

.footer .footer-copyright {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
    padding-top: 10%;
}

.footer .footer-center {
    width: 35%;
}

.footer .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0px;
}

.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer .footer-center p a {
    color: rgb(22, 255, 177);
    text-decoration: none;
}

.footer .footer-right {
    width: 30%;
}

.footer .footer-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0px;
}

.footer .footer-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer .footer-media {
    margin-top: 25px;
}

.footer .footer-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 50%;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer .footer-media a:hover {
    background-color: rgb(0, 122, 82);
}

@media (max-width: 880px) {

    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .footer .footer-center i {
        margin-left: 0px;
    }

}