body {
    font-family: 'Poppins', sans-serif; /* Menggunakan font Poppins */
    margin: 0;
    padding: 0;
    background-color: #B1D3A5; /* Warna body */
}

header {
    background-color: #739072; /* Warna header */
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    width: 100px; /* Lebar logo */
    height: 100px; /* Tinggi logo */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

main {
    padding: 20px;
    text-align: center;
}

.address {
    margin-bottom: 20px;
}

footer {
            background-color: #739072; /* Warna footer sama dengan header */
            color: #fff;
            padding: 10px 20px;
            text-align: center;
            position: fixed;
            bottom: 0;
            width: 100%;
}


button {
    padding: 10px 20px;
    background-color: #6ea56c; /* Warna tombol sama dengan header */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #557055;
}